.register__form_height {
  min-height: 244px;
}

.register__control_pos_1 {
  min-height: 219px;
}
.register__control_pos_2 {
  min-height: 381px;
}
.register__control_pos_3 {
  min-height: 263px;
}

.register__control-btn_pos_1 {
  margin-top: 71px;
}
.register__control-btn_pos_2 {
  margin-top: 71px;
}
.register__control-btn_pos_3 {
  margin-top: 159px;
}
