.about-project {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-content: flex-start;
  background-color: var(--color-body);
  color: var(--color-text-dark);
  cursor: default;
}
.about-project_posa {
  padding: 0 70px;
}
.about-project_posb {
  padding: 0 50px;
}
.about-project_posc {
  padding: 0 18px;
}

.about-project-title {
  display: block;
  box-sizing: border-box;
  padding: 0;
  padding-bottom: 23px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.63px;
  letter-spacing: -0.04em;
  color: var(--color-text-dark);
  border-bottom: 1px solid var(--color-text-dark);
  text-align: left;
}
.about-project-title_posa {
  margin: 110px 0 70px;
}
.about-project-title_posb {
  margin: 90px 0 70px;
}
.about-project-title_posc {
  margin: 70px 0 60px;
  padding-bottom: 28px;
  font-size: 18px;
  line-height: 21.78px;
}

.about-project-brief {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.about-project-brief_posa {
  margin-bottom: 110px;
}
.about-project-brief_posb {
  margin-bottom: 93px;
}
.about-project-brief_posc {
  flex-direction: column;
  margin-bottom: 60px;
}

.about-project-brief-text {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-right: 40px;
}
.about-project-brief-text_posb {
  margin-right: 30px;
}
.about-project-brief-text_posc {
  margin-top: 56px;
  margin-right: 0;
}
.about-project-brief-text:first-child {
  margin-top: 0;
}
.about-project-brief-text:last-child {
  margin-right: 0;
}

.about-project-brief-text__title {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  letter-spacing: -0.04em;
  color: var(--color-text-dark);
  text-align: left;
}
.about-project-brief-text__title_posb {
  margin-bottom: 22px;
}
.about-project-brief-text__title_posc {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 21.78px;
}

.about-project-brief-text__subtitle {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-text-dark);
  text-align: left;
}
.about-project-brief-text__subtitle_posb {
  font-size: 12px;
  line-height: 18px;
}
.about-project-brief-text__subtitle_posc {
  font-size: 11px;
  line-height: 16px;
}

.about-project-tbl {
  display: grid;
  box-sizing: border-box;
  margin-bottom: 110px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  cursor: default;

  grid-template-columns:
    228px
    auto;
  grid-template-rows:
    36px
    31px;
  grid-template-areas:
    'headerA headerB'
    'dataA dataB';
  gap: 0;
}
.about-project-tbl_posb {
  margin-bottom: 90px;
  grid-template-columns:
    140px
    auto;
}
.about-project-tbl_posc {
  margin-bottom: 69px;
  font-size: 11px;
  line-height: 13.31px;
  grid-template-columns:
    100px
    auto;
  grid-template-rows:
    35px
    24px;
}

.about-project-tbl__headerA {
  grid-area: headerA;
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--color-btn-auth);
  color: var(--color-text-dark);
}

.about-project-tbl__headerB {
  grid-area: headerB;
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--color-tbl-b);
  color: var(--color-text-dark);
}

.about-project-tbl__dataA {
  grid-area: dataA;
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  align-items: flex-end;
  justify-content: center;
  color: var(--color-text-gray);
}

.about-project-tbl__dataB {
  grid-area: dataB;
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  align-items: flex-end;
  justify-content: center;
  color: var(--color-text-gray);
}
