.techs {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-direction: column;
  align-content: flex-start;
  color: var(--color-text-dark);
  min-height: 625px;
  background-color: var(--color-nav);
  cursor: default;
}
.techs_pos_2 {
  min-height: 567px;
}
.techs_pos_3 {
  min-height: 651px;
  background-color: var(--color-body);
}

.techs__title {
  display: block;
  padding: 0;
  min-width: 1140px;
  min-height: 50px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.63px;
  letter-spacing: -4%;
  color: var(--color-text-dark);
  border-bottom: 1px solid var(--color-text-dark);
  text-align: left;
}
.techs__title_pos_1 {
  margin: 100px 70px 0;
}
.techs__title_pos_2 {
  margin: 90px 50px 0;
  min-width: 668px;
}
.techs__title_pos_3 {
  margin: 70px 18px 0;
  min-width: 284px;
  font-size: 18px;
  line-height: 21.78px;
}

.techs__brief {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 90px auto 100px;
  min-width: 600px;
  min-height: 124px;
}
.techs__brief_pos_2 {
  margin: 80px auto 83px;
  min-height: 116px;
}
.techs__brief_pos_3 {
  margin: 60px auto 50px;
  min-width: 292px;
  min-height: 92px;
}

.techs__brief-title {
  display: block;
  padding: 0;
  margin: 0;
  max-width: 600px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -4%;
  color: var(--color-text-dark);
  text-align: center;
}
.techs__brief-title_pos_3 {
  max-width: 292px;
  font-size: 30px;
  line-height: 36.31px;
}

.techs__brief-subtitle {
  display: block;
  padding: 0;
  margin: 0;
  max-width: 500px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -4%;
  color: var(--color-text-dark);
  text-align: center;
}
.techs__brief-subtitle_pos_2 {
  font-size: 12px;
  line-height: 18px;
}
.techs__brief-subtitle_pos_3 {
  max-width: 292px;
  font-size: 11px;
  line-height: 16px;
}

.techs-tbl {
  display: grid;
  max-width: 710px;
  grid-template-columns: repeat(auto-fit, 90px);
  grid-template-rows: repeat(auto-fit, 60px);
  row-gap: 10px;
  column-gap: 10px;
  padding: 0;
  margin: 0 auto 100px;
}
.techs-tbl_pos_2 {
  max-width: 668px;
  margin: 0 auto 90px;
  grid-template-columns: repeat(auto-fit, 84px);
  grid-template-rows: repeat(auto-fit, 57px);
}
.techs-tbl_pos_3 {
  max-width: 198px;
  margin: 0 auto 70px;
  grid-template-columns: repeat(auto-fit, 84px);
  grid-template-rows: repeat(auto-fit, 57px);
}

.techs-tbl__element {
  display: flex;
  padding: 0;
  margin: 0;
  max-width: 84px;
  min-height: 57px;
  font-size: 12px;
  line-height: 14.52px;
  font-weight: 400;
  letter-spacing: -4%;
  color: var(--color-text-dark);
  background-color: var(--color-tech-ground);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  cursor: default;
}
.techs-tbl__element_pos_1 {
  max-width: 90px;
  min-height: 60px;
  font-size: 14px;
  line-height: 16.94px;
}
