.nav-tab {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  background-color: var(--color-nav);
}

.nav-tab__link {
  display: block;
  padding: 0;
  margin: 24px 40px 24px 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: var(--color-text-dark);
  border-bottom: 1px solid var(--color-text-dark);
  text-decoration: none;
  opacity: 100%;
}
.nav-tab__link:last-child {
  margin-right: 0;
}
.nav-tab__link_pos_3 {
  font-size: 11px;
  line-height: 16px;
  margin: 25px 24px 25px 0;
}
.nav-tab__link:hover {
  opacity: 70%;
}
