.header {
  display: flex;
  padding: 0 70px;
  margin: 0;
  width: calc(100% - 140px);
  min-height: 74px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-header);
  color: var(--color-text-light);
}
