.header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  height: 74px;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-header);
}
.header_posa {
  padding: 15px 70px;
}
.header_posb {
  padding: 15px 30px;
}
.header_posc {
  padding: 15px 14px;
}
.header_light {
  background-color: var(--color-body);
}

.header-logo {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 38px;
  height: 38px;
  object-fit: cover;
  cursor: pointer;
  opacity: 100%;
}
.header-logo:hover {
  opacity: 80%;
}

.header-nav {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-nav__link {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-right: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: var(--color-text-light);
  opacity: 100%;
}
.header-nav__link_align_right {
  text-align: right;
}
.header-nav__link_align_left {
  text-align: left;
}
.header-nav__link_active {
  font-weight: 900;
}
.header-nav__link:hover {
  opacity: 70%;
}
.header-nav__link_light {
  color: var(--color-text-dark);
}

.header-profile-btn {
  display: flex;
  padding: 8px 20px;
  margin: 0;
  box-sizing: border-box;
  height: 32px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  border: none;
  color: var(--color-text-dark);
  background-color: var(--color-btn-light);
  cursor: pointer;
  opacity: 100%;
}
.header-profile-btn:hover {
  opacity: 80%;
}

.header-menu {
  display: block;
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  object-fit: contain;
  cursor: pointer;
  opacity: 100%;
}
.header-menu_posc {
  width: 40px;
  height: 43px;
}
.header-menu:hover {
  opacity: 80%;
}

.header-auth-btn {
  display: flex;
  margin: 0;
  padding: 8px 20px;
  box-sizing: border-box;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: none;
  color: var(--color-text-dark);
  background-color: var(--color-btn-auth);
  cursor: pointer;
  opacity: 100%;
}
.header-auth-btn_posc {
  padding: 5px 12px;
  font-size: 10px;
}
.header-auth-btn:hover {
  opacity: 80%;
}

.header-nav__link-auth {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-text-light);
  text-decoration: none;
  text-align: right;
  margin-right: 30px;
  opacity: 100%;
}
.header-nav__link-auth_posc {
  font-size: 10px;
  margin-right: 14px;
}
.header-nav__link-auth:hover {
  opacity: 70%;
}
