:root {
  /* цвета */
  --color-ground: #E5E5E5;
  --color-header: #465DFF;
  --color-body: #FFF;
  --color-footer: #FAFAFA;
  --color-text-dark: #000;
  --color-text-light: #FFF;
  --color-text-gray: #A0A0A0;
  --color-btn-light: #F9F9F9;
  --color-btn-auth: #2BE080;
  --color-nav: #F5F5F5;
  ;
}
.redborder {
  border: 1px solid red;
}
