.login {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
  align-content: flex-start;
}
.login_posa {
  padding: 0 442px;
}
.login_posb {
  padding: 0 186px;
}

.login-header {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 70px;
  align-content: flex-start;
  align-items: flex-start;
}
.login-header_posb {
  margin-top: 232px;
}
.login-header_posc {
  align-items: center;
  margin-top: 56px;
}

.login-header__img {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 38px;
  height: 38px;
  object-fit: cover;
  justify-content: left;
  opacity: 100%;
  cursor: pointer;
}
.login-header__img:hover {
  opacity: 80%;
}

.login-header__title {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
  color: var(--color-text-dark);
  text-align: left;
}
.login-header__title_posc {
  margin-top: 50px;
  text-align: center;
}

.login-form {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  flex-direction: column;
  align-content: flex-start;
}
.login-form_posc {
  padding: 0 30px;
  margin-top: 80px;
}

.login-form__lbl {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 10px;
  line-height: 12.1px;
  font-weight: 400;
  border: none;
  color: var(--color-text-gray);
  text-align: left;
}

.login-form__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 15px;
  font-size: 13px;
  line-height: 15.73px;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  background-color: var(--color-btn-light);
}
.login-form__input:focus-visible {
  outline: 1px solid var(--color-text-gray);
  outline-offset: -15px;
}
.login-form__input::placeholder {
  color: var(--color-text-gray);
}

.login-form__err {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  white-space: pre-wrap;
  /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */
  color: var(--color-err);
}

.login-control {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-items: flex-end;
  align-items: center;
}
.login-control_posc {
  padding: 0 30px;
  margin-top: 0px;
}

.login-control__msg {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 159px;
  margin-bottom: 8px;
  width: 100%;
  white-space: pre-wrap;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: var(--color-err);
}
.login-control__msg_posc {
  height: 239px;
}
.login-control__msg_posareg {
  height: 71px;
}
.login-control__msg_posbreg {
  height: 71px;
}
.login-control__msg_poscreg {
  height: 151px;
}

.login-control__btn {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 3px;
  background-color:  var(--color-control);
  color: var(--color-text-light);
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 500;
  cursor: pointer;
  opacity: 100%;
}
.login-control__btn:hover {
  opacity: 80%;
}
.login-control__btn_posc {
  font-size: 12px;
  line-height: 14.52px;
}
.login-control__btn_disabled {
  color: var(--color-text-gray);
  background-color: var(--color-btn-light);
  cursor: default;
}

.login-control-block {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}
.login-control-block_posc {
  margin-top: 14px;
}

.login-control-block__info {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-right: 6px;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  color: var(--color-text-gray);
  cursor: default;
}
.login-control-block__info_posc {
  margin-right: 7px;
  font-size: 12px;
  line-height: 14.52px;
}

.login-control-block__action {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-control);
  cursor: pointer;
  opacity: 100%;
}
.login-control-block__action:hover {
  opacity: 70%;
}
.login-control-block__action_posc {
  font-size: 12px;
  line-height: 14.52px;
}
