.promo {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--color-header);
  background-image: url(../../../images/pic_landing.svg);
  background-repeat: no-repeat;
}
.promo_pos1 {
  height: 524px;
  background-size: 320px 320px;
  background-position: center 82px;
}
.promo_pos2 {
  height: 784px;
  background-size: 320px 320px;
  background-position: center 224px;
}
.promo_pos3 {
  height: 570px;
  background-size: 248px 248px;
  background-position: center 142px;
}

 .promo-title {
  margin: 184px 275px auto 275px;
  padding: 0;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -4%;
  color: var(--color-text-light);
  text-align: center;
  cursor: default;
 }
.promo-title_pos2 {
  margin: 326px 19px auto 19px;
}
.promo-title_pos3 {
  margin: 207px 10px auto 10px;
  font-size: 29px;
  line-height: 39px;
}
