.search {
  display: flex;
  margin: 0;
  padding: 0;
}

.search-form {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--color-tech-ground);
}
.search-form_pos1 {
  margin: 60px 70px 10px;
}
.search-form_pos2 {
  margin: 80px 30px 10px;
}
.search-form_pos3 {
  margin: 80px 14px 10px;
}

.search-form__input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 1140px;

  margin-bottom: 41px;
  border-radius: 40px;
  justify-content: space-between;
  background-color: var(--color-btn-light);
}
.search-form__input_pos2 {
  width: 708px;
}
.search-form__input_pos3 {
  width: 292px;
  margin-bottom: 42px;
}

.search-form-input__txt {
  display: block;
  margin: 14px auto 14px 13px;
  width: 100%;
  padding: 0;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  border-radius: 40px;
  border: none;
  background-color: var(--color-btn-light);
  color: var(--color-text-dark);
}
.search-form-input__txt::placeholder {
  color: var(--color-text-gray);
}
.search-form-input__txt:focus-visible {
  background-color: var(--color-body);
  outline: 1px solid var(--color-text-gray);
  outline-offset: -1px;
}
.search-form-input__txt_pos3 {
  font-size: 11px;
  padding-left: 7px;
  padding-right: 7px;
}

.search-form-input__btn {
  display: block;
  padding: 0;
  margin: 6px 6px;
  min-width: 80px;
  height: 34px;
  border-radius: 40px;
  background-color:  var(--color-control);
  background-image: url(../../../images/find.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  opacity: 100%;
}
.search-form-input__btn:hover {
  opacity: 80%;
}

.search-form-option {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 20px;
  justify-items: center;
  align-items: center;
}
.search-form-option_pos1 {
  margin-bottom: 69px;
}
.search-form-option_pos2 {
  margin-bottom: 50px;
}
.search-form-option_pos3 {
  margin-bottom: 49px;
}

.search-form-option__item {
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 12px;
  color: var(--color-text-dark);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  text-align: left;
  cursor: pointer;
  opacity: 100%;
}
.search-form-option__item:last-child {
  margin-right: 0;
}
.search-form-option__item:hover {
  opacity: 80%;
}
.search-form-option__item_pos3 {
  font-size: 11px;
}
